body {
  background: url("background.png");
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 40px;
  background: rgba(38, 194, 129, 0.2);
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.greeting {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

#special {
  font-weight: 700;
}

.interesting {
  text-decoration: underline;
}

.boring {
  color: grey;
  text-transform: lowercase;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}
